@use "base/mixins" as m;
@use "base/variables" as v;

%a {
    text-transform: uppercase;
    leading-trim: both;
    text-edge: cap;

    @media (min-width: v.$desktop) {
        color: white;
    }

    @include m.desktop {
        color: black;
    }
}

%flex_button_link {
    position: relative;
    background: transparent;
    @include m.transition;

    @media (min-width: v.$tv) {
        @include m.flex(flex-start, m.px-to-vw(16px));
        padding-inline: m.px-to-vw(16px);
        border: m.px-to-vw(1px) solid rgba($color: v.$light_brown, $alpha: 0)
    }

    @include m.tv {
        border: 1px solid rgba($color: v.$light_brown, $alpha: 0);
        @include m.flex(flex-start, 10px);
        padding-inline: 10px;
    }

    p {
        @include m.p;
    }

    svg {
        @media (min-width: v.$tv) {
            @include m.square(m.px-to-vw(36px));
        }

        @include m.tv {
            @include m.square(25px);
        }
    }

    .arrow {
        position: absolute;
        @include m.centerY(true);
        z-index: 3;
        @include m.transition;

        @media (min-width: v.$tv) {
            right: m.px-to-vw(16px);
        }

        @include m.tv {
            right: 10px;
        }
    }

    &:is(:hover, :focus) {
        background: v.$gray_light;
        border-color: v.$light_brown;
    }
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba($color: white, $alpha: 0.2);
    backdrop-filter: blur(20px);

    @media (min-width: v.$tv) {
        padding-block: m.px-to-vw(30px);
        padding-inline: m.px-to-vw(180px);
    }

    @media (max-width: v.$tv) {
        padding-block: 20px;
        padding-inline: 7%;
    }

    @include m.desktop {
        padding-block: 15px;
        padding-inline: 4%;
    }

    &.white_bg {
        background: white;
    }

    &_lines {
        position: fixed;
        top: 0;
        z-index: 3;

        @media (min-width: v.$tv) {
            // height: calc(100vh - m.px-to-vw(150px)) !important;
            height: 100vh !important;
            width: m.px-to-vw(40px) !important;
            left: m.px-to-vw(216px) !important;
        }

        @include m.tv {
            height: 100vh !important;
            width: 25px !important;
            left: 8.5% !important;
        }

        @include m.desktop {
            width: 22px !important;
            left: 6% !important;
        }

        @include m.laptop {
            display: none;
        }

        user-select: none;
        -webkit-user-drag: none;

        object-fit: cover;
        object-position: center;
    }

    &_container {
        //@include m.flex(space-between);
        width: 100%;

        @media (min-width: v.$tv) {
            display: grid;
            grid-template-columns: m.px-to-vw(112px) 1fr;
            grid-gap: m.px-to-vw(64px);
        }

        @include m.tv {
            display: grid;
            gap: 32px;
            grid-template-columns: 78px 1fr;
        }

        @include m.desktop {
            align-items: center;
        }

        a,
        button {
            font-family: 'GothamLight';
        }

        img {
            @include m.tv {
                max-width: 70px;
            }
        }

        a {}

        nav {
            @include m.tv {
                flex: 1;
            }
        }
    }

    &_logo {
        @media (min-width: v.$tv) {
            max-width: m.px-to-vw(112px);
        }

        @media (max-width: v.$tv) {}
    }

    ul,
    li {
        list-style: none;

        @include m.desktop {
            width: 100%;
        }
    }

    nav {
        width: 100%;
        position: relative;
        @include m.flex(space-between);

        @include m.desktop {
            position: fixed;
            inset: 0;
            width: 100%;
            height: 100vh;
            z-index: 100;
        }
    }

    &_navigation {
        mix-blend-mode: difference;

        @include m.tv {}

        @include m.desktop {
            @include m.fullWH;
            position: absolute;
            z-index: 101;
            inset: 0;
            @include m.transition(.45s);
        }

        &--bg {
            @media (min-width: v.$desktop) {
                display: none;
            }

            @include m.desktop {
                @include m.fullWH;
                position: absolute;
                z-index: 102;
                inset: 0;
                background: v.$light_brown;
                @include m.transition(.45s);
                opacity: 0.5;
            }
        }

        &--list {
            @media (min-width: v.$tv) {
                padding-top: m.px-to-vw(34px);
            }

            @include m.tv {
                padding-top: 24px;
            }

            @include m.desktop {
                padding-top: 0;
                @include m.fullWH;
                position: absolute;
                z-index: 103;
                right: 0;
                top: 0;
                background: v.$white;
                @include m.transition(.45s);
                max-width: 370px;
                transition-delay: 0.15s;
                padding: 20px;
            }

            @include m.desktop {
                overflow-x: hidden;
                overflow-y: auto;
            }
        }
    }

    .submenu {
        @include m.transition;

        @media (min-width: v.$desktop) {
            background: v.$white;
            box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
            position: absolute;
            top: calc(100% + m.px-to-vw(30px) + m.px-to-vw(10px));
            opacity: 0;
            pointer-events: none;
        }

        @media (min-width: v.$tv) {
            left: m.px-to-vw(-32px);
            width: m.px-to-vw(1416px);
            padding: m.px-to-vw(32px);
        }

        @include m.tv {
            padding: 24px;
            left: -24px;
            width: 1036px;
        }

        @include m.desktop {
            width: 100%;
            padding: 0;
        }

        &_content {
            @media (min-width: v.$tv) {
                @include m.flex(flex-start, m.px-to-vw(6px));
            }

            @include m.tv {
                @include m.flex(flex-start, 3px);
            }

            @include m.desktop {
                width: 100%;
                flex-direction: column;
            }
        }

        &-link {
            flex: 1;

            &:not(.small, .big) {
                @media (min-width: v.$tv) {
                    max-width: calc((100% / 3) - m.px-to-vw(6px));
                }

                @include m.tv {
                    max-width: calc((100% / 3) - 3px);
                }

                @include m.desktop {
                    max-width: 100%;
                    width: 100%;
                }

                min-width: calc((100% / 3.3));
            }

            &.small {
                @media (min-width: v.$tv) {
                    max-width: calc((100% / 5) - m.px-to-vw(6px));
                }

                @include m.tv {
                    max-width: calc((100% / 5) - 3px);
                }

                @include m.desktop {
                    max-width: 100%;
                    width: 100%;
                }

                min-width: calc((100% / 5.2));
            }

            &.big {
                @media (min-width: v.$tv) {
                    max-width: calc((100% / 2) - m.px-to-vw(6px));
                }

                @include m.tv {
                    max-width: calc((100% / 2) - 3px);
                }

                @include m.desktop {
                    max-width: 100%;
                    width: 100%;
                }

                min-width: calc((100% / 2.2));
            }

            @media (min-width: v.$tv) {
                padding-block: m.px-to-vw(20px);
            }

            @include m.tv {
                padding-block: 13px;
            }

            @extend %flex_button_link;
        }

        &_dropdown {
            width: 100%;

            &-section {
                width: 100%;

                @media (min-width: v.$tv) {
                    padding-block: m.px-to-vw(12px);
                    @include m.flex(space-between, m.px-to-vw(12px));
                }

                @include m.tv {
                    padding-block: 7px;
                    @include m.flex(space-between, 7px);
                }

                @include m.desktop {
                    flex-direction: column;
                    gap: 3px;
                }
            }

            &-item {
                flex: 1;

                @include m.desktop {
                    width: 100%;
                }

                button {
                    width: 100%;
                    @extend %flex_button_link;
                    background: transparent;

                    @media (min-width: v.$tv) {
                        border: m.px-to-vw(1px) solid v.$light_brown;
                        padding-block: m.px-to-vw(8px);
                    }

                    @include m.tv {
                        border: 1px solid v.$light_brown;
                        padding-block: 5.5px;
                    }
                }
            }

            &-content {
                .submenu-link {
                    &:is(:hover, :focus) {
                        background: transparent;
                        border-color: rgba($color: v.$light_brown, $alpha: 0);
                    }
                }
            }

            &[data-state="0"] {
                .submenu_dropdown {
                    &-content {
                        display: none;
                    }
                }
            }

            &[data-state="1"] {
                .submenu_dropdown {
                    &-item:nth-child(1) {
                        button {
                            background: v.$gray_light;

                            .arrow {
                                transform: translateY(-50%);
                            }
                        }
                    }

                    &-content {
                        .submenu_content:not(:nth-child(1)) {
                            display: none;
                        }
                    }
                }
            }

            &[data-state="2"] {
                .submenu_dropdown {
                    &-item:nth-child(2) {
                        button {
                            background: v.$gray_light;

                            .arrow {
                                transform: translateY(-50%);
                            }
                        }
                    }

                    &-content {
                        .submenu_content:not(:nth-child(2)) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .ul_menu {
        @media (min-width: v.$tv) {
            @include m.flex(center, m.px-to-vw(8px));
        }

        @media (max-width: v.$tv) {
            @include m.flex(center, 4px);
        }

        &>li {

            &>button,
            &>a {
                @extend %a;

                font-family: v.$gotham_light;
                font-weight: 300;
                line-height: normal;
                background: none;
                border: none;

                @media (min-width: v.$tv) {
                    letter-spacing: m.px-to-vw(0.48px);
                    @include m.flex(center, m.px-to-vw(9px));
                    font-size: m.px-to-vw(16px);
                    padding: m.px-to-vw(18.5px) m.px-to-vw(16px);
                }

                @media (max-width: v.$tv) {
                    @include m.flex(center, 5px);
                    font-size: 13px;
                    padding: 14px 10px;
                }

                @include m.desktop {
                    justify-content: flex-start;
                }

                @include m.transition;

                svg,
                path {
                    @include m.transition;
                }

                svg {
                    @media (min-width: v.$tv) {
                        width: m.px-to-vw(8px);
                    }

                    @include m.tv {
                        width: 6px;
                    }

                    height: auto;
                    object-fit: contain;
                }
            }

            &.active {
                .submenu {
                    opacity: 1;
                    pointer-events: all;
                }
            }

            &:first-child {
                &>a {
                    padding-left: 0;
                }
            }

            &:last-child {
                &>a {
                    padding-right: 0;
                }
            }
        }
    }

    &_actions {
        mix-blend-mode: difference;

        @media (min-width: v.$tv) {
            padding-top: m.px-to-vw(34px);
            @include m.flex(flex-end, m.px-to-vw(18px));
        }

        @media (max-width: v.$tv) {
            padding-top: 24px;
            @include m.flex(flex-end, 12px);
            font-size: 13px;
        }

        @include m.desktop {
            padding-top: 0;
            display: none;
        }

        button {
            background: none;
            border: none;
            @extend %a;

            @media (min-width: v.$tv) {
                padding-block: m.px-to-vw(18.5px);
                padding-inline: 0 m.px-to-vw(16px);
                @include m.flex(center, m.px-to-vw(9px));
                font-size: m.px-to-vw(16px);
                letter-spacing: m.px-to-vw(0.48px);
            }

            @media (max-width: v.$tv) {
                padding-block: 14px;
                padding-inline: 0 11px;
                @include m.flex(center, 5px);
                font-size: 13px;
            }

            svg {
                @media (min-width: v.$tv) {
                    @include m.square(m.px-to-vw(12px));
                }

                @media (max-width: v.$tv) {
                    @include m.square(10px);
                }
            }
        }

        a {
            @include m.btn1;

            @include m.tv {
                max-width: 100%;
                font-size: 13px;
            }
        }

        svg,
        path {
            @include m.transition;
        }
    }

    &_button-menu {
        @media (min-width: v.$desktop) {
            display: none;
        }

        @include m.desktop {
            @include m.square(38px);
            background: none;
            margin-left: auto;
            border: none;
        }

        svg {
            @include m.fullWH;
            object-fit: contain;
            object-position: center;
            color: v.$light_brown;
        }
    }

    &.dark {
        .ul_menu {
            &>li {

                &>button,
                &>a {
                    color: v.$black;

                    svg,
                    path {
                        fill: v.$black;
                    }
                }
            }
        }

        .header {
            &_actions {

                a,
                button {
                    color: v.$black;

                    svg,
                    path {
                        stroke: v.$black;
                    }
                }

                button,
                a {
                    border-color: v.$black;
                }
            }
        }
    }

    @include m.desktop {
        &:not(.active) {

            .header_navigation,
            nav {
                opacity: 0;
                pointer-events: none;
                user-select: none;
            }

            .header_navigation {
                &--list {
                    right: 0;
                }
            }
        }
    }

}

.search_viewport {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    inset: 0;
    z-index: 200;
    @include m.transition;

    &>* {
        position: absolute;
    }

    &-bg {
        z-index: 201;
        @include m.fullWH;
        inset: 0;
        background: rgba(0, 0, 0, 0.40);
        backdrop-filter: blur(20px);
    }

    &-close{
        background: none;
        border: none;
        z-index: 202;
        @media (min-width: v.$tv){
            @include m.square(m.px-to-vw(24px));
            top: m.px-to-vw(75px);
            right: m.px-to-vw(75px);
        }
        @include m.tv{
            @include m.square(18px);
            top: 54px;
            right: 54px;
        }
        @include m.laptop{
            right: 3%;
            top: 32px;
        }


        svg{
            @include m.fullWH;
            pointer-events: none;
            object-fit: contain;
            object-position: center;
        }
    }

    &-box {
        z-index: 203;
        @include m.centerXY;
        
        @media (min-width: v.$tv) {
            width: 100%;
            max-width: m.px-to-vw(1090px);
            border-bottom: m.px-to-vw(1px) solid white;
            padding-bottom: m.px-to-vw(10px);
        }

        @include m.tv {
            border-bottom: 1px solid white;
            padding-bottom: 5px;
            max-width: 808px;
            width: 96%;
        }
    }

    .search-form {
        position: relative;
        width: 100%;

        @media (min-width: v.$tv) {
            display: grid;
            grid-template-columns: m.px-to-vw(36px) 1fr;
            align-items: center;
            grid-gap: m.px-to-vw(36px);
        }

        @include m.tv {
            display: grid;
            grid-template-columns: 24px 1fr;
            align-items: center;
            grid-gap: 24px;
        }

        &>svg {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: contain;
            object-position: center;
            @media (min-width: v.$tv){
                margin-bottom: m.px-to-vw(-14px);
            }
            @include m.tv{
                margin-bottom: -10px;
            }
            @include m.laptop{
                margin-bottom: -4px;
            }
        }

        input {
            background: none;
            border: none;
            color: v.$white !important;
            font-family: v.$canela_text;
            line-height: normal;

            @media (min-width: v.$tv) {
                letter-spacing: m.px-to-vw(4.2px);
                font-size: m.px-to-vw(70px);
            }

            @include m.tv {
                letter-spacing: 2.5px;
                font-size: 50px;
            }

            @include m.desktop {
                font-size: 38px;
                letter-spacing: 2px;
            }

            @include m.laptop{
                font-size: 28px;
            }

            @media (min-width: v.$tv) {
                // height: m.px-to-vw(51px) !important;
            }

            @include m.tv {
                // height: 39px !important;
            }

            &::placeholder {
                color: v.$white !important;
            }

            &:-webkit-autofill{
                background: none !important;
            }
        }

        button {
            position: absolute;
            right: 0;
            // @include m.centerY;
            bottom: 0;
            background: none;
            border: none;

            @media (min-width: v.$tv) {
                width: m.px-to-vw(72px);
                height: m.px-to-vw(51px);
            }

            @include m.tv {
                width: 52px;
                height: 38px;
            }

            @include m.laptop{
                width: 36px;
                height: 24px;
            }

            svg {
                @include m.fullWH;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &:not(.active){
        opacity: 0;
        pointer-events: none;
        user-select: none;
        *{
            pointer-events: none;
        }
    }

}