@use "base/mixins" as m;
@use "base/variables" as v;

%p {
    @include m.p;
}

.car_card {
    width: fit-content;

    &-flex {
        @media (min-width: v.$tv) {
            display: grid;
            grid-template-columns: m.px-to-vw(407px) m.px-to-vw(418px);
            grid-gap: m.px-to-vw(12px);
            align-items: center;
        }

        @include m.tv {
            display: grid;
            grid-template-columns: 407px 418px;
            grid-gap: 12px;
            align-items: center;
        }

        @include m.tablet {
            max-width: 100%;
        }

        &>* {
            width: 100%;
        }
    }

    &-image {
        width: 100%;

        @media (min-width: v.$tv) {
            border: m.px-to-vw(1px) solid v.$light_brown;
            padding: m.px-to-vw(15px);
        }

        @include m.tv {
            border: 1px solid v.$light_brown;
            padding: 15px;
        }
    }

    &-thumb {
        position: relative;
        width: 100%;
        aspect-ratio: 16/9.003;

        img {
            @include m.fullWH;
            object-fit: cover;
            object-position: center;
        }

        .permalink,
        svg {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .permalink {
            opacity: 0;
            pointer-events: none;

            @include m.transition;
            @include m.fullWH;
            z-index: 4;
            background: rgba($color: v.$black, $alpha: 0.6);
            @include m.flex(center);

            a {
                @include m.square(96px);
                border-radius: 50%;
                background: v.$black;
                @include m.flex(center);
                color: v.$white;
                @extend %p;
            }
        }

        svg {
            z-index: 6;
            width: 100%;

            @media (min-width: v.$tv) {
                max-width: m.px-to-vw(42.25px);
            }

            @include m.tv {
                max-width: 42.25px;
            }
        }

        &:is(:hover, :focus) {
            .permalink {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    &-info {
        @media (min-width: v.$tv) {
            padding-inline: m.px-to-vw(24px);
        }

        @include m.tv {
            padding-inline: 24px;
        }

        p,
        span {
            opacity: 0.8;
        }

        h3 {
            @media (min-width: v.$tv) {
                padding-block: m.px-to-vw(20px);
            }

            @include m.tv {
                padding-block: 12px;
            }
        }

        h4 {
            line-height: .9em;

            @media (min-width: v.$tv) {
                font-size: m.px-to-vw(36px);
                letter-spacing: m.px-to-vw(2.16px);
                margin-bottom: m.px-to-vw(10px);
            }

            @include m.tv {
                font-size: 28px;
                margin-bottom: 6px;
            }

            span {
                @media (min-width: v.$tv) {
                    font-size: m.px-to-vw(21px);
                    letter-spacing: m.px-to-vw(1.26px);
                }

                @include m.tv {
                    font-size: 18px;
                }
            }
        }

        p {
            font-weight: 400;

            @media (min-width: v.$tv) {
                font-size: m.px-to-vw(14px);
            }

            @include m.tv {
                font-size: 11px;
            }
        }
    }

    &-content {
        &>* {
            color: v.$black;
        }
    }
}

.car_card,
.vehicle_card {
    &-info {
        h3 {
            @include m.h3;
        }

        h4 {
            leading-trim: both;
            text-edge: cap;
            font-weight: 500;
            color: v.$light_brown;
            font-family: v.$gotham_m;

            span {
                display: block;
                color: v.$black;
                font-family: v.$gotham_light;
                font-weight: 900;
            }
        }
    }
}

.vehicle_card {
    width: 100%;
    background: v.$beige;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.20);

    @include m.desktop {
        border: 1px solid v.$light_brown;
    }

    &>* {
        width: 100%;
    }

    &-price {
        @include m.transition;
    }

    &-image {
        overflow: hidden;
        aspect-ratio: 16/9;

        .splide,
        .splide__track,
        .splide__slide,
        img,
        video {
            @include m.fullWH;
        }

        video,
        img {
            object-fit: cover;
            object-position: center;
        }

        .splide {
            &__arrow {
                top: 60%;
                opacity: 0 !important;
                background: v.$white;
                @include m.transition(.4s);

                @media (min-width: v.$tv) {
                    @include m.square(m.px-to-vw(30px));
                    @include m.flex(center);
                    padding: m.px-to-vw(8px) !important;
                }

                @include m.tv {
                    @include m.square(30px);
                    @include m.flex(center);
                    padding: 8px !important;
                }

                svg {
                    @include m.fullWH;
                    object-fit: contain;
                    object-position: center;
                }
            }

            &__pagination {
                bottom: -2em;
                opacity: 0 !important;
                @include m.transition(.4s);

                &__page {
                    transform: none !important;
                    @include m.transition();

                    @media (min-width: v.$tv) {
                        @include m.square(m.px-to-vw(6px));
                    }
                }
            }
        }

        &:is(:hover, :focus) {
            .splide {
                &__arrow {
                    top: 50%;
                }

                &__pagination {
                    bottom: 0.5em;
                }

                &__arrow,
                &__pagination {
                    opacity: 1 !important;
                }
            }
        }
    }

    &-info {
        position: relative;
        @include m.flex(space-between);
        flex-direction: column;
        overflow: hidden;
        align-items: flex-start;

        @media (min-width: v.$tv) {
            padding: m.px-to-vw(24px);
            border: m.px-to-vw(1px) solid v.$light_brown;
            border-top: none;
            min-height: m.px-to-vw(252.66px);
        }

        @include m.tv {
            padding: 16px;
            border: 1px solid v.$light_brown;
            border-top: none;
        }

        @include m.desktop {
            padding: 10px;
            border: none;
        }

        &>* {
            width: 100%;
        }

        h4 {
            @media (min-width: v.$tv) {
                font-size: m.px-to-vw(24px);
                letter-spacing: m.px-to-vw(1.44px);
            }

            @include m.tv {
                font-size: 24px;
                letter-spacing: 1.44px;
            }

            span {
                @media (min-width: v.$tv) {
                    margin-bottom: m.px-to-vw(6px);
                    font-size: m.px-to-vw(14px);
                    letter-spacing: m.px-to-vw(0.84px);
                }

                @include m.tv {
                    margin-bottom: 3px;
                    font-size: 13px;
                }
            }
        }

        ul {
            list-style: none;

            li {
                color: v.$black;
                font-family: v.$gotham_light;
                font-weight: 300;
                @include m.lines(1);

                @media (min-width: v.$tv) {
                    font-size: m.px-to-vw(14px);
                    letter-spacing: m.px-to-vw(0.84px);
                    line-height: m.px-to-vw(19.6px);
                }

                @include m.tv {
                    font-size: 13px;
                    letter-spacing: 0.84px;
                    line-height: 19.6px;
                }
            }

            b,
            strong {
                font-family: v.$gotham_m;
                font-weight: 500;
            }
        }
    }

    &-content,
    h4 {
        @media (min-width: v.$tv) {
            margin-bottom: m.px-to-vw(20px);
        }

        @include m.tv {
            margin-bottom: 20px;
        }
    }

    &-toggle {
        position: relative;
        overflow: hidden;

        &:hover {
            .vehicle_card-actions {
                opacity: 1;
                transform: translateY(0);
            }

            ul {
                opacity: 0;
            }
        }

        ul {
            position: relative;
            z-index: 1;
            transition: all 0.3s ease;
            opacity: 1;
        }
    }

    &-actions {
        width: 100%;
        @include m.flex(flex-start, m.px-to-vw(12px));
        background-color: #f5f2ee;
        text-align: center;
        @include m.transition;
        z-index: 2;

        @media (min-width: v.$tablet) {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transform: translateY(100%);
        }


        @media (min-width: v.$tv) {
            padding: 0 m.px-to-vw(24px) m.px-to-vw(24px);
        }

        @include m.tv {
            padding: 0 16px 16px;
        }

        @include m.desktop {
            padding: 0 10px 10px;
        }

        @include m.tablet {
            padding: 0;
            margin-top: 16px;
        }


        a {
            display: inline-block;
            color: v.$black;
            font-size: m.px-to-vw(14px);
            letter-spacing: 0.84px;
            line-height: 140%;
            font-family: v.$gotham_m;
            font-weight: 350;
            padding-inline: m.px-to-vw(20px);
            padding-block: m.px-to-vw(17px);

            @include m.tv {
                font-size: 12.6px;
                padding-inline: 20px;
                padding-block: 17px;
            }

            &:first-child {
                border: m.px-to-vw(1px) solid v.$black;
                min-width: m.px-to-vw(137px);

                @include m.tv {
                    border-width: 1px;
                    // min-width: 137px;
                }
            }

            &:last-child {
                text-decoration: underline;
            }
        }
    }

    &:is(:hover, :focus) {
        .vehicle_card {
            &-price {
                @media (min-width: v.$tablet) {
                    opacity: 0;
                }
            }

            &-actions {
                @media (min-width: v.$tablet) {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }

}

%span {
    font-weight: 400;

    @media (min-width: v.$tv) {
        letter-spacing: m.px-to-vw(0.84px);
        font-size: m.px-to-vw(14px);
        line-height: m.px-to-vw(19.6px);
    }

    @include m.tv {
        font-size: 14px;
        letter-spacing: 0.84px;
        line-height: 1.1em;

    }
}

%height_vehicle_card {
    @media (min-width: v.$tv) {
        height: m.px-to-vw(539px);
    }

    @include m.tv {
        height: 539px;
    }
}

.vehicle {
    position: relative;

    @media (min-width: v.$tv) {
        width: m.px-to-vw(506px);
    }

    @include m.tv {
        width: 506px;
    }

    @include m.tablet {
        width: 100%;
        height: 400px;
    }

    @extend %height_vehicle_card;

    &-logo {
        position: absolute;
        top: 0;
        pointer-events: none;
        @include m.transition(.4s);
        border-radius: 50%;
        // background: rgba($color: v.$black, $alpha: 0.6);
        z-index: 2;

        @media (min-width: v.$tv) {
            left: m.px-to-vw(12px);
            @include m.square(m.px-to-vw(180px));
        }

        @include m.tv {
            left: 12px;
            @include m.square(180px);
        }
    }

    &_title {
        width: 100%;
        position: absolute;
        pointer-events: all;
        opacity: 1;
        @include m.transition(.4s);
        bottom: 0;
        left: 0;
        z-index: 1;

        @media (min-width: v.$tv) {
            padding-left: m.px-to-vw(62px);
        }

        @include m.tv {
            padding-left: 62px;
        }

        @include m.tablet {
            padding-left: 38px;
        }

        &::before {
            position: absolute;
            content: '';
            background: v.$black;
            @include m.centerY;

            @media (min-width: v.$tv) {
                width: m.px-to-vw(30px);
                height: m.px-to-vw(1px);
                left: m.px-to-vw(12px);
            }

            @include m.tv {
                width: 30px;
                height: 1px;
                left: 12px;
            }

            @include m.tablet {
                width: 24px;
                height: 1px;
                left: 7px;
            }
        }

        &>* {
            color: v.$black;
            @include m.lines(1);
        }

        span {
            @extend %span;
            font-family: v.$gotham_m;
            font-weight: 400;
        }

        h3 {
            @include m.h3;
            @include m.lines(1);

            @media (min-width: v.$tv) {
                margin-top: m.px-to-vw(12px);
            }

            @include m.tv {
                margin-top: 7px;
            }
        }
    }

    &_bg {
        position: absolute;
        @include m.fullWH;
        inset: 0;
        z-index: 1;
        @include m.flex(center);

        &::before {
            position: absolute;
            content: '';
            @include m.fullWH;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            inset: 0;
            pointer-events: none;
            opacity: 0;
            @include m.transition(.4s);
        }

        img {
            @include m.fullWH;
            object-fit: cover;
            object-position: center;
            @include m.transition(.4s);

            @media (min-width: v.$tv) {
                max-height: m.px-to-vw(360px);
            }

            @include m.tv {
                max-height: 360px;
            }
        }
    }

    &_bottom {
        position: absolute;
        z-index: 3;
        left: 0;

        @media (min-width: v.$tv) {
            bottom: m.px-to-vw(89px);
            padding: m.px-to-vw(36px);
        }

        @include m.tv {
            bottom: 89px;
            padding: 36px;
        }

        @include m.tablet {
            padding: 20px;
        }
    }

    &-info {
        position: relative;

        &>* {
            @include m.transition;
        }

        h2,
        ul,
        .flex {
            opacity: 0;
            pointer-events: none;
        }

        h2 {
            @include m.h3(v.$white);

            span {
                display: block;
                font-family: v.$gotham_light;
                @extend %span;
                text-transform: capitalize;

                @media (min-width: v.$tv) {
                    margin-bottom: m.px-to-vw(12px);
                }

                @include m.tv {
                    margin-bottom: 12px;
                }
            }
        }

        ul {
            list-style: none;

            @media (min-width: v.$tv) {
                margin-block: m.px-to-vw(32px);
            }

            @include m.tv {
                margin-block: 32px;
            }

            li {
                color: v.$white;
                font-family: v.$gotham_light;
                @extend %span;
            }
        }

        .flex {
            @media (min-width: v.$tv) {
                @include m.flex(flex-start, m.px-to-vw(12px));
            }

            @include m.tv {
                @include m.flex(flex-start, 12px);
            }

            a {
                @include m.flex(center);
                font-family: v.$gotham_m;
                @extend %span;

                @media (min-width: v.$tv) {
                    border: m.px-to-vw(1px) solid white;
                    min-width: m.px-to-vw(147px);
                    padding-inline: m.px-to-vw(24px);
                    padding-block: m.px-to-vw(17px);
                }

                @include m.tv {
                    border: 1px solid white;
                    min-width: 110px;
                    padding-inline: 15px;
                    padding-block: 13px;
                }

                &:nth-child(1) {
                    background: v.$white;
                    color: v.$black;
                }

                &:nth-child(2) {
                    background: transparent;
                    color: v.$white;
                }

                &:nth-child(3) {
                    color: v.$white;
                    border: none !important;
                    text-decoration: underline;
                }
            }
        }

        .lots_live {
            position: absolute;
            left: 0;
            bottom: 0;

            @media (min-width: v.$tv) {
                @include m.flex(flex-start, m.px-to-vw(9px));
            }

            @include m.tv {
                @include m.flex(flex-start, 4.5px);
            }

            .dot {
                border-radius: 50%;

                @media (min-width: v.$tv) {
                    @include m.square(m.px-to-vw(10px));
                }

                @include m.tv {
                    @include m.square(7.2px);
                }

                background: #D1D1D1;
            }

            p {
                color: v.$white;
                font-family: v.$gotham_light;
                @extend %span;
            }
        }
    }

    &_final {
        opacity: 0;
        overflow: hidden;
        @include m.transition(.5s);

        @media (min-width: v.$tv) {
            width: m.px-to-vw(770px);
            @include m.flex(center, m.px-to-vw(36px));
            flex-direction: column;
        }

        @include m.tv {
            @include m.flex(center, 24px);
            flex-direction: column;
        }

        @extend %height_vehicle_card;

        &>* {
            opacity: 0;
            @include m.transition(.5s);

            @media (min-width: v.$tv) {
                transform: translateX(m.px-to-vw(80px));
            }

            @include m.tv {
                transform: translateX(50px);
            }
        }

        h3 {
            color: v.$light_brown;
            text-align: center;
            font-family: v.$cormorant;
            font-weight: 300;

            @media (min-width: v.$tv) {
                font-size: m.px-to-vw(48px);
                line-height: m.px-to-vw(48px);
                letter-spacing: m.px-to-vw(-1.44px);

                max-width: m.px-to-vw(555px);
            }

            @include m.tv {}
        }

        img {
            width: 100%;
            height: auto;

            @media (min-width: v.$tv) {
                max-width: m.px-to-vw(506px);
            }

            @include m.tv {}

            margin-inline: auto;
        }
    }

    &.active {
        @media (min-width: v.$tv) {
            width: m.px-to-vw(638px);
        }

        @include m.tv {}

        .vehicle {
            &_title {
                opacity: 0;
                pointer-events: none;
            }

            &_bg {
                &::before {
                    opacity: 0.6;
                }

                img {
                    max-height: 100%;
                }
            }

            &-logo {
                z-index: 1;
            }

            &_bottom {
                bottom: 0;
            }

            &-info {

                h2,
                ul,
                .flex {
                    opacity: 1;
                    pointer-events: all;
                }

                .lots_live {
                    @media (min-width: v.$tv) {
                        bottom: calc(100% + m.px-to-vw(32px));
                    }

                    @include m.tv {
                        bottom: calc(100% + 24px);
                    }

                    .dot {
                        // background-color: #08AA2B;
                    }
                }
            }
        }

        &+.vehicle_final {
            opacity: 1;

            &>* {
                opacity: 1;
                transform: none;
            }
        }
    }
}

/*.splide__slide {

    &.is-active,
    &.is-visible {
        .vehicle_final {
            opacity: 1;
        }
    }
}*/