@use "base/mixins" as m;
@use "base/variables" as v;

%h2 {
    @include m.fz60;
}

%mt40 {
    @include m.mt40_for_actions;
}

%mt31 {
    @media (min-width: v.$tv) {
        margin-top: m.px-to-vw(31px);
    }

    @include m.tv {
        margin-top: 22px;
    }
}

%cont {
    @include m.container_side;
}

.heritage {
    @media (min-width: v.$tv) {
        padding-top: m.px-to-vw(48px);
    }

    @include m.tv {
        padding-top: 32px;
    }

    @include m.pblock160(true);

    &_container {
        @extend %cont;
         @include m.tv {
           max-width: 100%;
        }

    }

    &_images {
        &-main {
            width: 100%;
            max-width: m.px-to-vw(395px);
            height: m.px-to-vw(520px);
            object-fit: cover;
            padding: m.px-to-vw(10px);
            background-color: v.$beige;
            transition: opacity 0.6s ease;
            opacity: 1;
            border: m.px-to-vw(1px) solid v.$light_brown;
            @include m.tv {
                max-width: 395px;
                height: 520px;
                padding: 10px;
                border: 1px solid v.$light_brown;
            }
            @include m.laptop {
                max-width: 300px;
                height: 420px;
            }
        }
        &-slider {
            margin-top: - m.px-to-vw(428px);
            margin-left: m.px-to-vw(260px);
            position: relative;
            @include m.tv {
                margin-top: -428px;
                margin-left: 260px;
            }
            @include m.laptop {
                margin-left: 150px;
                margin-top: -220px;
            }
            .image_progress {
                position: absolute;
                bottom: m.px-to-vw(28px);
                left: m.px-to-vw(28px);
                width: m.px-to-vw(88px);
                height: 1px;
                background: v.$light_brown;
                overflow: hidden;
                @include m.tv {
                    bottom: 28px;
                    left: 28px;
                    width: 88px;
                }
            }
            .progress {
                width: 0%;
                height: 100%;
                background: v.$white;
                transition: width linear;
            }
        }
        #heritage {
            position: relative;
            max-width: m.px-to-vw(395px);
            padding: m.px-to-vw(10px);
            background-color: v.$beige;
            border: m.px-to-vw(1px) solid v.$light_brown;
            @include m.tv {
                max-width: 395px;
                border: 1px solid v.$light_brown;
                padding: 10px;
            }
            @include m.laptop {
                max-width: 300px;
            }
            &::before {
                background: v.$beige;
                content: "";
                height: m.px-to-vw(427px);
                left: - m.px-to-vw(1px);
                position: absolute;
                top: - m.px-to-vw(1px);
                width: m.px-to-vw(2px);
                z-index: 2;
                @include m.tv {
                    height: 427px;
                    left: -1px;
                    top: -1px;
                    width: 2px;
                }
                @include m.laptop {
                    height: 219px;
                }
            }
             &::after {
                background: v.$beige;
                content: "";
                height: m.px-to-vw(2px);
                left: - m.px-to-vw(1px);
                position: absolute;
                top: - m.px-to-vw(1px);
                width: m.px-to-vw(134px);
                z-index: 2;
                @include m.tv {
                    height: 2px;
                    left: -1px;
                    top: -1px;
                    width: 134px;
                }
                @include m.laptop {
                    width: 148px;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .tabs {
        @include m.flex(center);

        @media (min-width: v.$tv) {
            margin-bottom: m.px-to-vw(80px);
        }

        @include m.tv {
            margin-bottom: 40px;
        }

        @include m.tablet {
            flex-direction: column;
        }

        a {
            flex: 1;
            background: none;
            border: none;
            background: transparent;
            color: v.$black;
            text-transform: uppercase;
            font-family: v.$gotham_m;
            text-align: center;

            @media (min-width: v.$tv) {
                font-size: m.px-to-vw(13px);
                padding-bottom: m.px-to-vw(18px);
                letter-spacing: m.px-to-vw(1.3px);
                border-bottom: m.px-to-vw(1px) solid #C0B09B;
            }

            @include m.tv {
                font-size: 11px;
                padding-bottom: 18px;
                letter-spacing: 1.3px;
                border-bottom: 1px solid #C0B09B;
            }

            @include m.tablet {
                padding-top: 18px;
                width: 100%;
            }

            &:is(.active) {
                border-color: v.$light_brown;
            }
        }
    }

    &_information {
        display: grid;
        @media (min-width: v.$tv) {
            grid-template-columns: m.px-to-vw(638px) 1fr;
            align-items: center;
            grid-gap: m.px-to-vw(103px);
        }

        @include m.tv {
            grid-template-columns: 588px 1fr;
            grid-gap: 50px;
        }
        @include m.desktop {
            gap: 40px;
        }
        @include m.laptop {
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        @include m.tablet {
            grid-template-columns: 1fr;
        }
    }

    &_content {
        .breadlines {
            @include m.breadlines(v.$black, 1);
        }

        h2 {
            @include m.h2;
            font-weight: 400;
            @extend %mt31;
        }

        .content {
            @media (min-width: v.$tv) {
                margin-top: m.px-to-vw(40px);
            }

            @include m.tv {
                margin-top: 28px;
            }

            p,
            li {
                @include m.p;
                opacity: 0.9
            }
        }

        .actions {
            @include m.flex(flex-start, m.px-to-vw(20px));
            flex-direction: column;
            @extend %mt40;

            @include m.tv {
                @include m.flex(flex-start, 20px);
                align-items: baseline;
            }

            a {
                font-family: v.$canela_text;
                text-decoration: none;
                @media (min-width: v.$tv) {
                    width: 100%;
                    justify-content: space-between;
                }

                @include m.tv {}
            }
        }

        strong {
            font-family: v.$gotham_m;
        }

        a {
            font-family: v.$gotham_m;
            font-weight: 400;
            text-decoration: underline;
            color: v.$light_brown;
        }
    }
}

.meet_our_specialist {
    @include m.pblock160;

    &-container {
        width: 100%;

        @media (min-width: v.$tv) {
            max-width: m.px-to-vw(1608px);
        }

        @include m.tv {
            max-width: 1608px;
            padding-left: 15%;
        }
        @include m.desktop {
            padding-left: 11%;
        }
        @include m.laptop {
            padding-left: 4%;
        }

        margin-left: auto;
    }

    &-head {
        width: 100%;
        position: relative;
        @include m.mb64;

        .breadlines {
            @include m.breadlines(v.$black, 1);
        }

        h2 {
            @include m.h2;
            @extend %mt31;
        }
    }

    &-slider {
        width: 100%;
        @include m.splide_arrows;

    }

    &-foot {
        @extend %cont;
        display: grid;
        @media (min-width: v.$tv) {
            margin-top: m.px-to-vw(80px);
            grid-template-columns: m.px-to-vw(638px) 1fr;
            grid-gap: m.px-to-vw(103px);
        }

        @include m.tv {
            margin-top: 80px;
            grid-template-columns: 638px 1fr;
            grid-gap: 103px;
        }
        @include m.desktop {
            grid-template-columns: 1fr 1fr;
            grid-gap: 50px;
        }
        @include m.laptop {
            grid-template-columns: 1fr;
            grid-gap: 40px;
        }

        &>* {
            width: 100%;
        }
    }

    &-title {
        h2 {
            @include m.fz60;
            font-weight: 300;
            text-align: left;
        }
    }

    &-content {
        p {
            @include m.p;
        }

        a {
            @extend %mt40;

            @media (min-width: v.$tv) {
                width: m.px-to-vw(420px);
                justify-content: space-between;
            }
            @include m.tv {
                width: fit-content;
            }
        }
    }
}

.specialist_card {
    position: relative;
    overflow: hidden;
    height: 100%;

    @media (min-width: v.$tv) {
        width: m.px-to-vw(418px);
        border: m.px-to-vw(1px) solid v.$light_brown;
    }

    @include m.tv {
        width: 418px;
        border: 1px solid v.$light_brown;
    }
    @include m.tablet {
        width: auto;
    }

    &>* {
        width: 100%;
        background: v.$beige;

        @media (min-width: v.$tv) {
            padding: m.px-to-vw(36px) m.px-to-vw(24px);
        }

        @include m.tv {
            padding: 36px 24px;
        }
    }

    &-image {
        width: 100%;
        aspect-ratio: 1/1;
        height: auto;

        @media (min-width: v.$tv) {
            margin-bottom: m.px-to-vw(51px);
        }

        @include m.tv {
            margin-bottom: 36px;
        }

        img {
            @include m.fullWH;
            object-fit: cover;
            object-position: center;
        }
    }

    &-toggle {
        width: 100%;
        display: grid;
        @media (min-width: v.$tv) {
            grid-template-columns: 1fr m.px-to-vw(60px);
            grid-gap: m.px-to-vw(40px);
            align-items: center;
        }

        @include m.tv {
            grid-template-columns: 1fr 60px;
            grid-gap: 40px;
        }

        @include m.tablet {
            display: flex;
            justify-content: space-between;
        }

        p {
            @include m.h3(v.$black, v.$gotham_m, false);
            opacity: 0.8;
        }

        span {
            @include m.p;
            opacity: 0.8;
        }

        button {
            width: m.px-to-vw(60px);
            height: m.px-to-vw(60px);
            aspect-ratio: 1/1;
            height: auto;
            border-radius: 50%;
            background: v.$light_brown;
            @include m.flex(center);
            border: none;
            @include m.transition(.5s);
            @include m.tv {
                width: 50px;
                height: 50px;
            }
            @include m.tablet {
                width: 50px;
                height: 50px;
            }
            svg {
                @include m.transition(.5s);
                pointer-events: none;

                @media (min-width: v.$tv) {
                    @include m.square(m.px-to-vw(18px));
                }

                @include m.tv {
                    @include m.square(14px);
                }
            }

            &:not(.minus) {
                &:is(:hover) {
                    svg {
                        transform: scale(1.2) rotate(180deg);
                    }
                }
            }

            &.minus {
                @include m.flex(center);
                @media (min-width: v.$tv) {
                    @include m.square(m.px-to-vw(50px));
                }

                @include m.tv {
                    @include m.square(50px);

                }
                svg {
                    margin: auto;
                }

            }
        }
    }

    &-front {
        @include m.tablet {
            padding: 16px;
        }
    }

    &-back {
        overflow: hidden;
        @include m.fullWH;
        position: absolute;
        opacity: 0;

        @media (min-width: v.$tv) {
            top: calc(100% + m.px-to-vw(2px));
        }

        @include m.tv {
            top: calc(100% + 2px);
        }

        left: 0;
        z-index: 3;
        @include m.transition(.5s);

        @include m.flex(space-between);
        align-items: flex-start;
        flex-direction: column;

        &>a {
            display: block;
            width: fit-content;
            @include m.p(v.$light_brown, v.$gotham_m);
            opacity: 0.8;
            text-decoration: underline;
        }
    }

    &-content {
        width: 100%;

        ul,
        ol {
            list-style: none;

            @media (min-width: v.$tv) {
                margin-bottom: m.px-to-vw(36px);
            }

            @include m.tv {
                margin-bottom: 24px;
            }
        }

        a,
        li,
        p, h3 {
            @include m.p;
            opacity: 0.8;
        }

        a {
            font-family: v.$gotham_m;
            opacity: 0.8;
        }
        p {
            opacity: 0.8;
        }
    }

    &.active {
        .specialist_card {
            &-back {
                top: 0;
                opacity: 1;
            }
        }
    }
}

.timecard {
    @media (min-width: v.$tv) {
        width: m.px-to-vw(382px);
    }

    @include m.tv {
        width: 382px;
    }

    .round {
        @media (min-width: v.$tv) {
            @include m.square(m.px-to-vw(150px));
        }

        @include m.tv {
            @include m.square(110px);
        }

        border-radius: 50%;
        object-fit: cover !important;
    }

    &-grid {
        @media (min-width: v.$tv) {
            display: grid;
            // grid-template-rows: m.px-to-vw(371px) m.px-to-vw(361px);
            grid-template-rows: m.px-to-vw(371px) m.px-to-vw(371px);
            grid-gap: 0;
        }

        @include m.tv {
            display: grid;
            grid-template-rows: 371px 371px;
        }

        img {
            max-width: 100%;
        }

        &>* {
            width: 100%;
            @include m.tv {
                max-width: 360px;
            }

            &:nth-child(odd) {
                @media (min-width: v.$tv) {
                    @include m.flex(flex-end, m.px-to-vw(20px));
                    flex-direction: column;
                }

                @include m.tv {
                    @include m.flex(flex-end, 10.6px);
                    flex-direction: column;
                }
            }

            &:nth-child(even) {
                @media (min-width: v.$tv) {
                    @include m.flex(flex-start, m.px-to-vw(20px));
                    flex-direction: column;
                }

                @include m.tv {
                    @include m.flex(flex-start, 10.6px);
                    flex-direction: column;
                }
            }

        }

        .content {

            p,
            span {
                opacity: 0.9;
                leading-trim: both;
                text-edge: cap;
                text-align: center;
                font-weight: 600;
                font-style: normal;

                @media (min-width: v.$tv) {
                    font-size: m.px-to-vw(14px);
                    line-height: m.px-to-vw(19.6px);
                    letter-spacing: m.px-to-vw(0.84px);
                }

                @include m.tv {
                    font-size: 14px;
                    line-height: 19.6px;
                    letter-spacing: 0.84px;
                }
            }

            span {
                color: v.$light_brown;
            }
        }
    }

    &-time {
        span {
            text-align: center;
            display: block;
            @include m.h4v2;
            margin-inline: auto;
        }
    }
}

.timeline {
    &_head {
        width: 100%;
        margin-inline: auto;

        @media (min-width: v.$tv) {
            max-width: m.px-to-vw(715px);
        }

        @include m.tv {}

        h2 {
            @extend %h2;
            font-weight: 300;
        }
    }

    .container_side {
         @include m.tv {
            width: 100%;
            padding-left: 15%;
        }
        @include m.desktop {
            padding-left: 11%;
        }
         @include m.laptop {
            padding-left: 4%;
        }
    }

    &_body {
        @include m.mt48;
        @include m.splide_arrows;
    }

    .splide {
        &__arrows {
            @media (min-width: v.$tv) {
                padding-left: m.px-to-vw(121px);
            }

            @include m.tv {}
        }

        &__list {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                top: 50%;
                transform: translateY(-50%);
                // background: v.$light_brown;
                background: linear-gradient(90deg, rgba(140, 110, 71, 1) 97.5%, rgba(255, 255, 255, 0.5) 100%);
                // width: calc(100% - (m.px-to-vw(191px * 2)));
                // width: calc(100% * 100);
                left: m.px-to-vw(191px);

                @media (min-width: v.$tv) {
                    height: m.px-to-vw(3px);
                }

                @include m.tv {
                    width: calc(100% * 3.85) !important;
                    left: 179px;
                    height: 3px;
                }
                @include m.tablet {
                    width: calc(100% * 7.8) !important;
                }
            }
        }

        &__slide {
            &:nth-child(even) {
                .timecard-grid {
                    div:nth-child(1) {
                        @media (min-width: v.$tv) {
                            padding-bottom: m.px-to-vw(21px);
                        }

                        @include m.tv {
                            padding-bottom: 15px;
                        }
                    }

                    div:nth-child(2) {
                        svg {
                            order: -2;
                        }

                        .timecard-time {
                            order: -1;
                        }

                        img {
                            order: 2;
                        }
                    }
                }
            }

            &:nth-child(odd) {}
        }
    }
}

.upcoming {
    &_container {
        @extend %cont;

        @media (min-width: v.$tv) {
            margin-top: m.px-to-vw(120px);
        }

        @include m.tv {
            margin-top: 80px;
        }
    }

    &_info {
        @media (min-width: v.$tv) {
            display: grid;
            grid-template-columns: m.px-to-vw(480px) 1fr;
            grid-gap: m.px-to-vw(142px);
            padding-left: m.px-to-vw(36px);
        }

        @include m.tv {}

        &-content {
            @media (min-width: v.$tv) {
                padding-top: m.px-to-vw(16px);
            }

            @include m.tv {
                padding-top: 10px;
            }

            p {
                @include m.p;
            }
        }

        &-title {
            h2 {
                @include m.fz60;
                font-weight: 300;
                text-align: left;
            }
        }

        &-actions {
            @include m.flex(center, m.px-to-vw(20px));
            flex-direction: column;

            @extend %mt40;

            &>* {
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}

.tailored {
    padding-bottom: m.px-to-vw(130px);
    &_container {
        width: 100%;
        margin-left: auto;

        @media (min-width: v.$tv) {
            padding-top: m.px-to-vw(130px);
            max-width: m.px-to-vw(calc(1513px + 95px));
            padding-right: m.px-to-vw(95px);
        }

        @include m.tv {
            padding-top: 100px;
            padding-left: 15%;
            padding-right: 8%;
        }
        @include m.desktop {
             padding-top: 80px;
            padding-left: 11%;
            padding-right: 4%;
        }
        @include m.laptop {
            padding-left: 4%;
        }
        @include m.tablet {
             padding-top: 40px;
            max-width: calc(100% - 30px);
            margin-inline: auto;
        }
    }

    &-flex {
        @include m.flex(space-between);
        align-items: flex-start;
        position: relative;
        @include m.tv {
            flex-wrap: nowrap;
        }
        @include m.tablet {
            flex-direction: column;
            gap: 40px;
        }
    }

    &_info {
        min-height: 100vh;
        @include m.flex(center);
        align-items: baseline;
        position: relative;

        @media (min-width: v.$tv) {
            width: m.px-to-vw(638px);
        }

        @include m.tv {
            width: 100%;
            max-width: 500px;
        }
        @include m.tablet {
            min-height: 100%;
        }

        &-box {
            position: relative;
            width: 100%;
            @media (min-width: v.$tv) {
                padding-top: m.px-to-vw(35px);
            }

            @include m.tv {
                padding-top: 24px;
            }
            @include m.tablet {
                height: auto !important;
            }
            &-ss {
                position: sticky;
                top: 250px;
            }

            .breadlines {
                @include m.breadlines(v.$black, 1);
            }

            h2 {
                @include m.h2;
                @extend %mt31;
            }

            a {
                @media (min-width: v.$tv) {
                    width: 100%;
                    max-width: m.px-to-vw(420px);
                    justify-content: space-between;
                }

                @include m.tv {}
            }
        }

        &-content {
            @media (min-width: v.$tv) {
                margin-block: m.px-to-vw(40px);
            }

            @include m.tv {
                margin-block: 30px;
            }

            p {
                @include m.p;
            }
        }
    }



    &_images {
        position: relative;
        // min-height: 100vh;

        @media (min-width: v.$tv) {
            width: m.px-to-vw(802px);
            padding-inline: m.px-to-vw(16px);
        }

        @include m.tv {
            width: 100%;
            padding-inline: 10px;
        }

        @include m.tablet {
            padding-inline: 0;
        }


        .imagelider-wrapper {
            position: relative;
            @include m.tablet {
                display: none;
            }
        }

        .imagelider {
            border: 1px solid v.$light_brown;
            position: sticky;
            top: 250px;
            height: m.px-to-vw(466px);
            overflow: hidden;
            border: 16px solid #f5f2ee;
            box-shadow: 0 0 0 1px v.$light_brown;
            @include m.tv {
                height: 466px;
            }
            @include m.tablet {
                top: 150px;
            }
            &-slide {
                border: 1px solid v.$light_brown;
                @media(min-width: v.$tablet) {
                    display: none;
                }
                .splide {
                    max-height: 400px;
                    margin: 10px;
                }
                .splide__slide img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

        }

        .slide {
            position: absolute;
            inset: 0;
            transform: translateY(100%);
            will-change: transform;
        }

        .slide:first-child {
            transform: translateY(0%);
        }

        .slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

    }

    &_image {
        width: 100%;
        // min-height: 100vh;
        @include m.flex(center);

        img {
            width: 100%;
        }

        position: sticky;
        top: m.px-to-vw(200px);
        left: 0;

        &:nth-child(1) {
            z-index: 1;
        }

        &:nth-child(2) {
            z-index: 2;
        }

        &:nth-child(3) {
            z-index: 3;
        }

        &:nth-child(4) {
            z-index: 4;
        }

        &:nth-child(5) {
            z-index: 5;
        }
    }
}

.page-template-about {
    .meet_our_specialist {
        padding-bottom: m.px-to-vw(240px);
        overflow: hidden;
    }
    .meet_our_specialist-container {
        @include m.tablet {
            max-width: calc(100% - 30px);
            margin-inline: auto;
            padding: 0;
        }
    }
    .meet_our_specialist-title {
        @include m.tablet {
            margin-bottom: 20px;
        }
    }
    .splide__slide {
        @include m.tablet {
            width: 100%;
        }
    }
    .upcoming .container_side {
        @include m.tv {
            padding-left: 15%;
            margin: 0;
        }
        @include m.desktop {
            padding-left: 11%;
            width: 100%;
        }
        @include m.laptop {
            padding-left: 4%;
        }
    }
}