@use "base/mixins" as m;
@use "base/variables" as v;

.auction {
    &_result {
        &-heading {
            @media (min-width: v.$tv) {
                padding-top: m.px-to-vw(160px);
            }

            @include m.tv {
                padding-top: 116px;
            }

            @include m.desktop {
                padding-top: 86px;
            }

            @include m.tablet {
                padding-top: 58px;
            }

            @include m.mb96;

            h2 {
                @include m.fz60;
                font-weight: 300;
                text-align: center;

                @media (min-width: v.$tv) {
                    margin-bottom: m.px-to-vw(40px);
                }

                width: 100%;

                @include m.tv {
                    margin-bottom: 28px;
                }

                @media (min-width: v.$desktop) {
                    padding-inline: 5%;
                }
            }

            .content {
                margin-inline: auto;
                width: 100%;

                @media (min-width: v.$tv) {
                    max-width: m.px-to-vw(638px);
                }

                @include m.tv {
                    max-width: 470px;
                }
            }

            p {
                text-align: center;
                @include m.p;
            }

            a {
                font-family: v.$gotham_m;
                font-weight: 300;
                text-decoration: underline;
                color: v.$light_brown;
            }
        }

        &-container {
            @include m.container_side;
        }

        &-tab {
            .container {
                border-bottom: m.px-to-vw(1px) solid v.$light_brown;
                padding-block: m.px-to-vw(160px) m.px-to-vw(60px);
                max-width: m.px-to-vw(1428px);
                margin-right: m.px-to-vw(180px);

                @include m.tv {
                    padding-block: 100px 60px;
                    max-width: 1428px;
                    margin-right: 180px;
                }

                @include m.laptop {
                    padding-block: 80px 40px;
                }

                div {
                    border: m.px-to-vw(1px) solid v.$light_brown;
                    padding: m.px-to-vw(5px);
                    max-width: m.px-to-vw(452px);
                    background-color: v.$white;
                    @include m.flex(center, m.px-to-vw(5px));
                    flex-wrap: nowrap;

                    @include m.tv {
                        max-width: 452px;
                        padding: 5px;
                        border: 1px solid v.$light_brown;
                    }

                    a {
                        width: 100%;
                        font-family: v.$gotham_light;
                        background-color: v.$beige;
                        color: v.$black;
                        padding-block: m.px-to-vw(16px);
                        text-align: center;
                        @include m.p;

                        @include m.tv {
                            padding-block: 16px;
                        }

                        &:hover {
                            background-color: rgba(140, 110, 71, 0.5);
                        }

                        &.active {
                            background-color: v.$light_brown;
                            font-family: v.$gotham_m;
                            font-weight: 500;
                            color: v.$white;
                            letter-spacing: 1.04px;

                            &:hover {
                                background-color: v.$light_brown;
                            }
                        }
                    }
                }
            }
        }

        &-content {
            .container {
                padding-block: m.px-to-vw(60px) m.px-to-vw(98px);
                max-width: m.px-to-vw(1428px);
                margin-right: m.px-to-vw(180px);

                @include m.tv {
                    padding-block: 60px 45px;
                    max-width: 1428px;
                    margin-right: 180px;
                }

                @include m.laptop {
                    padding-block: 30px 45px;
                    margin-right: 0;
                }

                /*h2 {
                    max-width: m.px-to-vw(926px);
                    font-family: v.$cormorant;
                    font-weight: 400;
                    font-size: m.px-to-vw(60px);
                    letter-spacing: -1.4px;
                    margin: auto;
                    text-align: center;

                    @include m.tv {
                        max-width: 926px;
                        font-size: 50px;
                    }

                    @include m.tablet {
                        font-size: 40px;
                    }
                }*/
            }
        }

        &-text {
            max-width: m.px-to-vw(800px);
            margin: auto;
            text-align: center;
            padding-block: m.px-to-vw(30px) m.px-to-vw(60px);
            line-height: 150%;

            @include m.tv {
                max-width: 800px;
                padding-block: 30px 40px;
            }

            a {
                color: v.$light_brown;
                text-decoration: underline;
                font-family: v.$gotham_m;
            }
        }

        &-filter {
            @include m.mb64;
            @include m.grid(3, m.px-to-vw(10px));
            // padding-block: 0 m.px-to-vw(60px);
            font-family: v.$gotham_light;

            @include m.tv {
                gap: 10px;
                // padding-block: 40px;
            }

            @include m.laptop {
                grid-template-columns: 1fr 1fr;
                // padding-block: 30px 50px;
            }

            @include m.tablet {
                gap: 16px;
                grid-template-columns: 1fr;
                // padding-block: 30px;
            }

            &-search {
                display: flex;

                input {
                    @include m.p;
                    width: 100%;
                    background-color: v.$white;
                    border: m.px-to-vw(1px) solid v.$light_brown;
                    padding: m.px-to-vw(20px);

                    @include m.tv {
                        border-width: 1px;
                        padding: 20px;
                    }
                }

                button {
                    background-color: v.$light_brown;
                    border: m.px-to-vw(1px) solid v.$light_brown;
                    padding: m.px-to-vw(20px);
                    color: v.$beige;

                    @include m.tv {
                        border-width: 1px;
                        padding: 20px;
                    }
                }
            }

            &-select {
                select {
                    width: 100%;
                    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='9' viewBox='0 0 14 9' fill='none'><path d='M13 1L7 7L1 1' stroke='%238C6E47' stroke-width='2' fill='none'/></svg>") no-repeat right m.px-to-vw(20px) center;
                    background-size: m.px-to-vw(14px) m.px-to-vw(20px);

                    @include m.tv {
                        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='9' viewBox='0 0 14 9' fill='none'><path d='M13 1L7 7L1 1' stroke='%238C6E47' stroke-width='2' fill='none'/></svg>") no-repeat right 20px center;
                        background-size: 14px 20px;
                    }
                }
            }

            &-year {
                @include m.flex(space-between);

                select {
                    min-width: m.px-to-vw(118px);
                    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='9' viewBox='0 0 14 9' fill='none'><path d='M13 1L7 7L1 1' stroke='%238C6E47' stroke-width='2' fill='none'/></svg>") no-repeat right m.px-to-vw(20px) center;
                    background-size: m.px-to-vw(14px) m.px-to-vw(20px);

                    @include m.tv {
                        min-width: 118px;
                        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='9' viewBox='0 0 14 9' fill='none'><path d='M13 1L7 7L1 1' stroke='%238C6E47' stroke-width='2' fill='none'/></svg>") no-repeat right 20px center;
                        background-size: 14px 20px;
                    }
                }
            }

            &-page {
                text-align: center;
                margin: auto;
            }

            &-select,
            &-year {
                select {
                    @include m.p;
                    background-color: v.$white;
                    border: m.px-to-vw(1px) solid v.$light_brown;
                    padding: m.px-to-vw(20px);
                    appearance: none;

                    @include m.tv {
                        border-width: 1px;
                        padding: 20px;
                    }
                }
            }
        }

        &-list {
            border-bottom: 1px solid v.$light_brown;

            &-item {
                @include m.flex(flex-start, m.px-to-vw(30px));
                flex-wrap: nowrap;
                margin-bottom: m.px-to-vw(95px);

                @include m.tv {
                    gap: 30px;
                    margin-bottom: 60px;
                }

                @include m.laptop {
                    flex-direction: column;
                    align-items: baseline;
                    margin-bottom: 52px;
                }
            }

            &-img {
                max-width: m.px-to-vw(638px);
                width: 100%;
                position: relative;
                display: inline-block;

                @include m.tv {
                    max-width: 450px;
                }

                @include m.laptop {
                    max-width: calc(100% - 15px);
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid v.$light_brown;
                    z-index: 1;
                }

                img {
                    position: relative;
                    z-index: 2;
                    object-fit: cover;
                    height: m.px-to-vw(359px);

                    @include m.tv {
                        height: 280px;
                    }

                    @include m.laptop {
                        height: 400px;
                    }

                    @include m.tablet {
                        height: 250px;
                    }
                }
            }

            &-info {
                h3 {
                    font-family: v.$goudy;
                    font-size: m.px-to-vw(36px);
                    font-weight: 500;

                    @include m.tv {
                        font-size: 26px;
                    }

                }

                .permalink_border {
                    margin-block: m.px-to-vw(30px) 0;

                    @include m.tv {
                        margin-block: 20px 0;
                    }

                    svg {
                        margin-bottom: -8px;
                    }
                }
            }

            &-data {
                @include m.flex(flex-start);
                flex-wrap: nowrap;
                padding-block: m.px-to-vw(30px);

                @include m.tv {
                    padding-block: 30px;
                }

                @include m.tablet {
                    flex-direction: column;
                    align-items: baseline;
                    gap: 16px;
                    padding-block: 20px;
                }

                div {
                    &:first-of-type {
                        border-right: 1px solid v.$light_brown;
                        padding-right: m.px-to-vw(20px);

                        @include m.tv {
                            padding-right: 20px;
                        }

                        @include m.tablet {
                            border-right: none;
                            padding-right: 0;
                        }

                        p {
                            @include m.p;
                            font-family: v.$gotham_m;
                            letter-spacing: 1.4px;
                            line-height: 140%;

                            span {
                                font-family: v.$gotham_light;
                            }
                        }
                    }

                    &:last-of-type {
                        padding-left: m.px-to-vw(20px);

                        @include m.tv {
                            padding-left: 20px;
                        }

                        @include m.tablet {
                            padding-left: 0;
                        }

                        p {
                            @include m.p;
                            opacity: 0.8;
                            line-height: 140%;
                        }

                        p.gold-text {
                            @media (min-width: v.$tv) {
                                margin-top: m.px-to-vw(3px);
                            }

                            @include m.tv {
                                margin-top: 1.5px;
                            }

                            color: v.$light_brown;
                            font-size: m.px-to-vw(36px) !important;
                            // line-height: 115%;
                            line-height: 1em !important;
                            font-family: v.$gotham_m;
                            opacity: 1;

                            @include m.tv {
                                font-size: 24px !important;
                            }
                        }
                    }
                }
            }

            &-description {
                width: 100%;
                @include m.p;
                @include m.lines(3);
                max-width: m.px-to-vw(726px);

                @include m.tv {
                    max-width: 726px;
                }
            }
        }

        &-message {
            text-align: center;
            margin: m.px-to-vw(60px) 0;

            @include m.tv {
                margin: 60px 0;
            }
        }

        &-pagination {
            margin-bottom: 0;

            @media (min-width: v.$tv) {
                margin-top: m.px-to-vw(64px);
                @include m.flex(flex-end, m.px-to-vw(12px));
            }

            @include m.tv {
                margin-top: 42px;
                @include m.flex(flex-end, 7px);
            }

            @include m.tablet {
                margin-top: 24px;
            }

            .next,
            .prev {
                background-color: v.$white;
            }

            span,
            a {
                @include m.p(v.$light_brown, v.$gotham_m);
                border-radius: 50%;

                @media (min-width: v.$tv) {
                    @include m.square(m.px-to-vw(36px));
                    @include m.flex(center);
                    border: m.px-to-vw(1px) solid v.$light_brown;
                    letter-spacing: m.px-to-vw(-1.19px) !important;
                }

                @include m.tv {
                    @include m.square(28px);
                    @include m.flex(center);
                    border: 1px solid v.$light_brown;
                }

                &.current {
                    background-color: v.$light_brown;
                    color: #D3C7B6;
                }
            }

            &.with_border {
                @media (min-width: v.$tv) {
                    border-bottom: m.px-to-vw(1px) solid v.$light_brown;
                    padding-bottom: m.px-to-vw(96px);
                }

                @include m.tv {
                    border-bottom: 1px solid v.$light_brown;
                    padding-bottom: 68px;
                }

                @include m.desktop {
                    padding-bottom: 52px;
                }
            }
        }

        &-form {
            @media (min-width: v.$tv) {
                padding-top: m.px-to-vw(160px);
            }

            @include m.tv {
                padding-top: 116px;
            }

            @include m.desktop {
                padding-top: 86px;
            }

            @include m.tablet {
                padding-top: 58px;
            }

            h2 {
                @include m.fz60;
                font-weight: 400;
                padding-bottom: m.px-to-vw(96px);

                @include m.tv {
                    padding-bottom: 45px;
                }
            }

            .advertise_form {
                margin: auto;
                width: 85%;
            }
        }
    }
}

.auction_vehicles {
    @include m.pblock160(true);

    &-container {
        @include m.container_side;
    }

    &-head {
        width: 100%;

        @media (min-width: v.$tv) {
            padding-block: m.px-to-vw(64px) m.px-to-vw(72px);
        }

        @include m.tv {
            padding-block: 42px 50px;
        }

        @include m.tablet {
            padding-block: 24px 32px;
        }

        h2 {
            @include m.fz60;
            font-weight: 300;

            @media (min-width: v.$tv) {
                max-width: m.px-to-vw(926px);
            }

            @include m.tv {
                max-width: 685px;
            }
        }

        h2,
        .content {
            width: 100%;
            margin-inline: auto;
        }

        .content {
            @include m.mt40_for_actions(false);

            @media (min-width: v.$tv) {
                max-width: m.px-to-vw(834px);
            }

            @include m.tv {
                max-width: 616px;
            }

            li,
            p {
                @include m.p;
                text-align: center;
                opacity: 0.9;

                &:not(:last-child) {
                    @media (min-width: v.$tv) {
                        margin-bottom: m.px-to-vw(24px);
                    }

                    @include m.tv {
                        margin-bottom: 16px;
                    }
                }
            }

            a {
                font-family: v.$gotham_m;
                color: v.$light_brown;
                text-decoration: underline;
            }
        }
    }
}

.past_auctions {
    .thumb {
        img {
            filter: grayscale(1);
        }
    }
}

.no-one {
    width: 100%;

    @media (min-width: v.$tv) {
        padding-block: m.px-to-vw(60px);
    }

    @include m.tv {
        padding-block: 36px;
    }

    @include m.tablet {
        padding-block: 24px;
    }

    p {
        @include m.p;
        text-align: center;
    }
}