@use "base/mixins" as m;
@use "base/variables" as v;

%container {
    width: 100%;

    @media (min-width: v.$tv) {
        max-width: m.px-to-vw(calc(1165px + 312px));
        padding-right: m.px-to-vw(312px);
        margin-left: auto;
    }

    @include m.tv {
        padding-left: 15%;
        padding-right: 15%;
    }

    @include m.desktop {
        padding-left: 11%;
        padding-right: 11%;
    }

    @include m.laptop {
        padding-left: 4%;
        padding-right: 4%;
    }
}

.contact_information {
    h2 {
        @include m.desktop {
            br {
                display: none;
            }
        }
    }

    @include m.content_center;

    .actions {
        a {
            @include m.tv {
                width: 264px;
            }
        }
    }
}

.contact_information,
.make_an_enquiry {
    @include m.pblock160;

    &-container {
        @extend %container;
    }

    h2 {
        @include m.fz60;
        font-weight: 300;
    }
}

.make_an_enquiry {
    background: v.$bg;

    h2 {
        text-align: left;

        @media (min-width: v.$tv) {
            margin-bottom: m.px-to-vw(24px);
        }

        @include m.tv {
            margin-bottom: 16px;
        }
    }

    h3 {
        @include m.h4v2(v.$black, v.$cormorant, false);
        font-weight: 300;

        @media (min-width: v.$tv) {
            letter-spacing: m.px-to-vw(-1.2px);
        }

        @include m.tv {}
    }

    &-head {
        width: 100%;
        @include m.mb64;

        p {
            @include m.p;
            opacity: 0.8;
        }
    }

    &-form {
        @include m.gform;
        @include m.mb64;
    }
}

.contact_banners {
    @include m.pblock160(true);

    &-container {
        @include m.container_side;
    }

    &-insurance {
        .actions {
            a {
                @media (min-width: v.$tv) {
                    width: m.px-to-vw(292px) !important;
                }

                @include m.tv {
                    width: 100% !important;
                    max-width: 216px !important;
                }
            }
        }
    }

    .thinking {
        width: 100%;
        @media (min-width: v.$tv) {
            padding-top: m.px-to-vw(96px);
            margin-top: m.px-to-vw(96px);
            border-top: m.px-to-vw(1px) solid v.$light_brown;
        }
        
        @include m.tv {
            padding-top: 68px;
            margin-top: 68px;
            border-top: 1px solid v.$light_brown;
        }

        @include m.desktop {
            padding-top: 52px;
            margin-top: 52px;
        }

        h3 {
            @include m.fz60;
            font-weight: 300;
            text-align: center;

            @media (min-width: v.$tv) {
                margin-bottom: m.px-to-vw(40px);
            }

            @include m.tv {
                margin-bottom: 28px;
            }
        }
        .actions {
            @include m.link_actions(false, 228px);
            a{
                background: transparent !important;
                color: v.$light_brown !important;
            }
        }
    }

}

.headquarter {
    width: 100%;

    &-image {
        // @include m.mt40_for_actions(false);
        @include m.banner_with_lines;
    }

    &-content {
        @include m.mt40_for_actions(false);
        width: 100%;

        h4 {
            @include m.h4v2(v.$black, v.$cormorant, false);
            font-weight: 300;
            text-align: center;

            @media (min-width: v.$tv) {
                margin-bottom: m.px-to-vw(24px);
            }

            @include m.tv {
                margin-bottom: 16px;
            }
        }

        .description,
        .data {

            p,
            li {
                @include m.p;
                text-align: center;
            }

            ul,
            ol {
                list-style: none;
                margin-inline: auto;
            }

            b,
            strong {
                font-family: v.$gotham_m;
            }

            a {
                color: v.$light_brown;
                text-decoration: underline;
            }
        }

        .description {
            p {
                opacity: 0.9;
            }
        }

        .actions,
        .data {
            @include m.mt40_for_actions(false);
        }

        .actions {
            @include m.link_actions(false, 228px);
        }
    }

    &:not(:last-child) {
        @include m.mb96;

        @media (min-width: v.$tv) {
            border-bottom: m.px-to-vw(1px) solid v.$light_brown;
            padding-bottom: m.px-to-vw(96px);
        }

        @include m.tv {
            border-bottom: 1px solid v.$light_brown;
            padding-bottom: 68px;
        }

        @include m.desktop {
            padding-bottom: 52px;
        }
    }
}