@use "base/mixins" as m;
@use "base/variables" as v;

%pr {
    @media (min-width: v.$tv) {
        padding-right: m.px-to-vw(132px);
    }

    @include m.tv {
        padding-right: 9%;
        // padding-right: 92px;
    }

    @include m.desktop {
        padding-right: 0;
    }
}

%dropdown {
    @include m.dropdowns;
}

.private_sales,
.faq {
    &:not(.in_opportunity_page) {
        @include m.pblock160;
    }

    &-title {
        h2 {
            @include m.fz60;
            font-weight: 300;
            text-align: left;
        }
    }

    &-content {
        @media (min-width: v.$tv) {
            padding-top: m.px-to-vw(16px);
        }

        @include m.tv {
            padding-top: 10px;
        }

        .actions {
            @include m.mt40_for_actions;

            a {
                width: 100%;
                justify-content: space-between;
            }
        }

        .content {
            &>* {
                &:not(:last-child) {
                    @media (min-width: v.$tv) {
                        margin-bottom: m.px-to-vw(20px);
                    }

                    @include m.tv {
                        margin-bottom: 12px;
                    }
                }
            }

            li,
            p,
            span {
                @include m.p;
                opacity: 0.9;
            }
        }
    }
}

.private_sales {
    &-container {
        @include m.container_side(114px);
    }

    &-top {
        width: 100%;
        @extend %pr;
        @include m.mb96;

        @media (min-width: v.$tv) {
            display: grid;
            grid-template-columns: m.px-to-vw(490px) 1fr;
            grid-gap: m.px-to-vw(36px);
        }

        @include m.tv {
            display: grid;
            grid-template-columns: 360px 1fr;
            grid-gap: 26px;
        }

        @include m.desktop {
            grid-template-columns: 100%;
        }
    }

    &-images {
        width: 100%;
        @extend %pr;
        @include m.mb96;
    }

    &-slider {
        width: 100%;
        position: relative;

        @media (min-width: v.$tv) {
            height: m.px-to-vw(636px);
        }

        @include m.tv {
            height: 470px;
        }

        @include m.tablet {
            height: 350px;
        }

        @include m.phone {
            height: 270px;
        }

        &::before {
            position: absolute;
            content: '';
            @include m.centerXY;

            @media (min-width: v.$tv) {
                width: calc(100% + m.px-to-vw(32px));
                height: calc(100% + m.px-to-vw(32px));
                border: m.px-to-vw(1px) solid v.$light_brown;
            }

            @include m.tv {
                width: calc(100% + 14px);
                height: calc(100% + 14px);
                border: 1px solid v.$light_brown;
            }
        }

        .splide {
            @include m.fullWH;

            &__track,
            &__list,
            &__slide,
            &__slide img {
                @include m.fullWH;
            }

            &__pagination {
                padding: 0 !important;
                align-items: center;
                justify-content: flex-start;
                width: fit-content !important;

                @media (min-width: v.$tv) {
                    left: m.px-to-vw(24px) !important;
                    bottom: m.px-to-vw(24px) !important;
                }

                @include m.tv {
                    left: 16px !important;
                    bottom: 16px !important;
                }

                &__page {
                    transform: none !important;
                    border-radius: 0 !important;
                    margin: 0 !important;
                    background: v.$white !important;
                    opacity: 0.5 !important;

                    @media (min-width: v.$tv) {
                        width: m.px-to-vw(88px) !important;
                        height: m.px-to-vw(2px) !important;
                    }

                    @include m.tv {
                        width: 60px !important;
                        height: 2px !important;
                    }

                    &.is-active {
                        opacity: 1 !important;
                    }
                }
            }
        }

        img {
            object-fit: cover;
            object-position: center;
        }
    }

    &-bottom {
        width: 100%;

        @media (min-width: v.$tv) {
            display: grid;
            grid-template-columns: m.px-to-vw(638px) 1fr;
            grid-gap: m.px-to-vw(20px);
            align-items: flex-start;
        }

        @include m.tv {
            display: grid;
            grid-template-columns: 469px 1fr;
            grid-gap: 16px;
            align-items: flex-start;
        }

        @include m.desktop {
            grid-template-columns: 100%;
            grid-gap: 24px;
        }

        &-col {
            width: 100%;

            &>div {
                width: 100%;

                &:first-child {
                    @media (min-width: v.$tv) {
                        padding-bottom: m.px-to-vw(40px);
                        border-bottom: m.px-to-vw(1px) solid v.$light_brown;
                        margin-bottom: m.px-to-vw(40px);
                    }

                    @include m.tv {
                        padding-bottom: 28px;
                        margin-bottom: 28px;
                        border-bottom: 1px solid v.$light_brown;
                    }

                    @include m.desktop {
                        padding-bottom: 24px;
                        margin-bottom: 24px;
                    }
                }
            }
        }

        .head {
            @media (min-width: v.$tv) {
                margin-bottom: m.px-to-vw(24px);
            }

            @include m.tv {
                margin-bottom: 16px;
            }

            @include m.desktop {
                margin-bottom: 14px;
            }
        }

        ul,
        ol {
            list-style: none;
        }

        li,
        p,
        a {
            @include m.p;
            opacity: 0.8;
        }

        .email {
            text-decoration: underline;
            color: v.$light_brown;
        }

        b,
        strong,
        a {
            font-family: v.$gotham_m;
        }

        h3 {
            font-family: v.$goudysb;
            color: v.$light_brown;
            font-weight: 300;

            @media (min-width: v.$tv) {
                font-size: m.px-to-vw(30px);
            }

            @include m.tv {
                font-size: 24px;
            }

            @include m.desktop {
                font-size: 21px;
            }
        }
    }
}

.in_opportunity_page {
    @media (min-width: v.$tv) {
        padding-top: m.px-to-vw(160px);
    }

    @include m.tv {
        padding-top: 116px;
    }

    @include m.desktop {
        padding-top: 86px;
    }

    @include m.tablet {
        padding-top: 58px;
    }
}

.in_services_page {
    @include m.pblock160;
}

.faq {
    &_container {
        @include m.container_side;
    }

    &_information {
        width: 100%;

        &:not(.mb_64, .mb_0) {
            @include m.mb96;
        }

        &.mb_64 {
            @include m.mb64;
        }

        @media (min-width: v.$tv) {
            display: grid;
            padding-left: m.px-to-vw(36px);
            grid-template-columns: m.px-to-vw(480px) 1fr;
            grid-gap: m.px-to-vw(142px);
            align-items: flex-start;
        }

        @include m.tv {
            display: grid;
            grid-template-columns: 357px 1fr;
            grid-gap: 90px;
            align-items: flex-start;
            padding-left: 24px;
        }

        @include m.desktop {
            grid-template-columns: 100%;
            padding-left: 0;
            grid-gap: 26px;
        }
    }

    &_list {
        width: 100%;
        @extend %dropdown;
    }
}

.opportunities {
    &_container {
        @include m.container_side;
    }

    &-buttons {
        @include m.container_side;

        @media (min-width: v.$tv) {
            margin-bottom: m.px-to-vw(78px);
        }

        @include m.tv {
            margin-bottom: 54px;
        }

        @include m.flex(space-between, 26px 0);

        button {
            flex: 1;
            position: relative;
            background: none;
            border: none;
            @include m.flex(center);
            @include m.p;
            text-transform: uppercase;

            @media (min-width: v.$tv) {
                height: m.px-to-vw(60px);
            }

            @include m.tv {
                height: 40px;
                min-width: 270px;
            }

            &::before {
                position: absolute;
                content: '';
                width: 100%;

                @media (min-width: v.$tv) {
                    height: m.px-to-vw(1px);
                    top: calc(100% + m.px-to-vw(12px));
                }

                @include m.tv {
                    height: 1px;
                    top: calc(100% + 7px);
                }

                @include m.centerX;
                background: #C0B09B;
            }

            &.active {
                font-family: v.$gotham_m;

                &::before {
                    @media (min-width: v.$tv) {
                        height: m.px-to-vw(2px);
                    }

                    @include m.tv {
                        height: 2px;
                    }

                    background: v.$light_brown;
                }
            }
        }
    }

    &_row {
        @media (min-width: v.$tv) {
            @include m.flex(space-between, m.px-to-vw(20px));
            align-items: flex-start;
        }

        @include m.tv {
            @include m.flex(space-between, 14px);
            align-items: flex-start;
        }

        &>* {
            @media (min-width: v.$desktop) {
                flex: 1;
            }

            @include m.desktop {
                width: 100%;
            }
        }
    }

    &_images {
        position: sticky;
        left: 0;

        @media (min-width: v.$tv) {
            top: m.px-to-vw(48px);
            padding-top: m.px-to-vw(126px);
        }

        @include m.tv {
            top: 24px;
            padding-top: 92px;
        }

        @include m.desktop {
            position: relative;
            top: 0;
            padding-top: 0;
        }

        &-collection {
            width: 100%;

            img {
                width: 100%;
                aspect-ratio: 1/1.005;
                height: auto;
                object-fit: cover;
                object-position: center;
                display: block;
                margin-inline: auto;

                @include m.desktop {
                    margin-top: 1.5rem;
                    max-width: 500px;
                }
            }
        }
    }

    &_title {
        h2 {
            @include m.h4(v.$light_brown);
        }
    }

    &_dropdown {
        width: 100%;
        @extend %dropdown;

        @include m.desktop {
            margin-top: 1.25rem;
        }

        .acc_head {
            @media (min-width: v.$tv) {
                padding-left: m.px-to-vw(32px);
            }

            @include m.tv {
                padding-left: 24px;
            }

            @include m.desktop {
                padding-left: 0;
            }

            h3 {
                padding-left: 0 !important;
            }
        }
    }

    &-column {

        &>* {
            &:not(:last-child) {
                .opportunities_row {
                    @media (min-width: v.$tv) {
                        padding-bottom: m.px-to-vw(80px);
                        border-bottom: m.px-to-vw(1px) solid v.$light_brown;
                        margin-bottom: m.px-to-vw(80px);
                    }

                    @include m.tv {
                        padding-bottom: 58px;
                        border-bottom: 1px solid v.$light_brown;
                        margin-bottom: 58px;
                    }

                    @include m.desktop {
                        padding-bottom: 43px;
                        margin-bottom: 43px;
                    }

                    @include m.tablet {
                        padding-bottom: 29px;
                        margin-bottom: 29px;
                    }
                }
            }
        }
    }

    .spacing {
        width: 100%;

        @media (min-width: v.$tv) {
            @include m.flex(flex-start);
            align-items: flex-end;

            height: m.px-to-vw(126px);
            padding: m.px-to-vw(30px) m.px-to-vw(32px);
        }

        @include m.tv {
            @include m.flex(flex-start);
            align-items: flex-end;

            padding: 22px 24px;
            height: 92px;
        }

        @include m.desktop {
            height: auto;
            padding: 0;
        }
    }

    &[data-state="0"] {
        .opportunities {
            &_images-collection {
                img:not(:nth-child(1)) {
                    display: none;
                }
            }
        }
    }

    &[data-state="1"] {
        .opportunities {
            &_images-collection {
                img:not(:nth-child(2)) {
                    display: none;
                }
            }
        }
    }

    &[data-state="2"] {
        .opportunities {
            &_images-collection {
                img:not(:nth-child(3)) {
                    display: none;
                }
            }
        }
    }

    &[data-state="3"] {
        .opportunities {
            &_images-collection {
                img:not(:nth-child(4)) {
                    display: none;
                }
            }
        }
    }

    &[data-state="4"] {
        .opportunities {
            &_images-collection {
                img:not(:nth-child(5)) {
                    display: none;
                }
            }
        }
    }

    &[data-state="5"] {
        .opportunities {
            &_images-collection {
                img:not(:nth-child(6)) {
                    display: none;
                }
            }
        }
    }

    &[data-state="6"] {
        .opportunities {
            &_images-collection {
                img:not(:nth-child(7)) {
                    display: none;
                }
            }
        }
    }

    &[data-state="7"] {
        .opportunities {
            &_images-collection {
                img:not(:nth-child(8)) {
                    display: none;
                }
            }
        }
    }

    &[data-state="8"] {
        .opportunities {
            &_images-collection {
                img:not(:nth-child(9)) {
                    display: none;
                }
            }
        }
    }
}

.apply_to {
    @include m.pblock160;

    &-container {
        @include m.container_side;
    }

    h2 {
        @include m.h4v2(v.$black, v.$cormorant, false);
        font-weight: 300;
        @include m.mb64;
    }

    &_form {
        @include m.gform;
        @include m.mb64;
    }

    &-connect {
        @include m.social_connect_in_bottom;

        p {
            @media (min-width: v.$tv) {
                width: m.px-to-vw(326px);
            }

            @include m.tv {
                width: 263px;
            }
        }
    }
}

.request_quote {
    @include m.pblock160;

    h3 {
        @include m.h4v2(v.$black, v.$cormorant, false);
        @include m.mb64;
    }

    &-container {
        @include m.container_side;
    }

    &-box {
        width: 100%;
        @include m.gform();

        #field_5_13 {

            @media (min-width: v.$tv) {
                padding-top: m.px-to-vw(48px) !important;
                margin-bottom: m.px-to-vw(48px) !important;
            }

            @include m.tv {
                padding-top: 32px !important;
                margin-bottom: 32px !important;
            }

            @include m.desktop {
                padding-top: 24px !important;
                margin-bottom: 24px !important;
            }

            @media (min-width: v.$tv) {
                border-block-end: m.px-to-vw(1px) solid v.$light_brown !important;
            }

            @include m.tv {
                border-block-end: 1px solid v.$light_brown !important;
            }
        }
    }
}